/* Based on: https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* ----------------------- RESET ------------------ */
/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Make `a` like a button */
[role='button'] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------- GLOBAL ------------------ */

html {
  font-size: 62.5%; /* Tipografía base: 10px */
}

body {
  font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
  font-size: 1.6rem; /* Tamaño de fuente: 16px */
  line-height: 1.37;
  overflow-x: hidden;
}

h1,
.primary-font {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 4.8rem;
}

h1 {
  font-size: 13.2rem; /* Tamaño de fuente: 137px */
  line-height: 0.86;
  font-weight: 900;
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  left: -30px;
}

/*
h2,
.secundary-font {
 position: absolute;

 z-index: 1;
}
*/

h2 {
  font-size: 2.3rem;
  line-height: 1.3;
  border: 2px solid #96ffca;
}

/*
h2,
.secondary-font {
    font-family: 'Dawning of a New Day', cursive;
}
h2 {
  font-size: 3.1rem; /* Tamaño de fuente: 31px
  line-height: 1.1;
} */

/* ----------------------- ABOUT ------------------ */

.about-perfil {
  padding: 0 2.5rem;
}

.imagen-perfil {
  background-color: red;
  height: 21.7rem;
  background: url(../imgs/Imagen\ portfolio.jpg) 50% no-repeat;
  background-size: cover;
  max-width: 37.6rem;
  margin: 0 0 2.1rem;
  filter: sepia(100%) brightness(83%) saturate(314%);
  -webkit-filter: sepia(100%) brightness(83%) saturate(314%);
  -moz-filter: sepia(100%) brightness(83%) saturate(314%);
}

.flecha-svg {
  margin: -1rem 0 2.1rem;
}

.cita {
  text-align: center;
}

.imagen-metodologia {
  background-color: red;
  height: 23.2rem;
  background: url(../imgs/Metodología\ personas.png) 50% no-repeat;
  background-size: cover;
  width: 24.9rem;
  margin: 0 0 2.1rem;
}

/* ----------------------- UTILITIES ------------------ */

.fondo {
  background: #f5f5f4;
}

.fondo-about {
  background: #f3c830;
  display: block;
  position: relative;
  z-index: 0;
}
.fondo-experiencia {
  background: #e6e6e6;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper-perfil {
  margin: 0 auto;
  max-width: 128rem;
  padding: 0 1.5rem;
}

.underline {
  background: #f3c830;
}

/* ----------------------- BILLBOARD ------------------ */

.billboard,
.section {
  margin: 0 0 7.1rem;
}

.billboard {
  height: 60vh;
  padding: 7rem 0 0;
  position: relative;
}

.billboard-title {
  margin-left: -3rem;
  font-size: 35vw;
}

.intro {
  bottom: -32px;
  left: 0;
  position: absolute;
}

.billboard-image {
  margin: 0 0 0.21rem;
}

/*El título About lo he conseguido poner en la mitad pero me gustaría llevarlo un poco más a la derecha para que se pueda ver la "t" bien. 
Cuadrante verde: no consigo colocarlo encima del fondo amarillo. Al fondo le doy una posición relativa y al cuadrante verde le doy una posición absoluta para que se pueda posicionar encima, pero no me sale.
La foto de perfil tiene un toque anaranjado. ¿Se puede crear en css, o la guardo con el toque anaranjado? 
la fecha naranja (svg) se debe posicionar debajo del párrafo de arriba. */

/* 430px / 16 */
@media (min-width: 26.8em) {
  .billboard-title {
    margin-left: -2.5rem;
    font-size: 34vw;
  }
}

/* 700px / 16 */
@media (min-width: 43.75em) {
  .billboard-title {
    display: block;
    margin-left: 0;
    font-size: 13rem;
    text-align: left;
  }
}
