/* Based on: https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* ----------------------- RESET ------------------ */
/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /* Remove default padding */
 ul,
 ol {
   padding: 0;
 }
 
 /* Remove default margin */
 body,
 h1,
 h2,
 h3,
 h4,
 p,
 ul,
 ol,
 li,
 figure,
 figcaption,
 blockquote,
 dl,
 dd {
   margin: 0;
 }
 
 /* Set core body defaults */
 body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
 }
 
 /* Remove list styles on ul, ol elements with a class attribute */
 ul,
 ol {
   list-style: none;
 }
 
 /* A elements that don't have a class get default styles */
 a:not([class]) {
   text-decoration-skip-ink: auto;
 }
 
 /* Make images easier to work with */
 img {
   max-width: 100%;
   display: block;
 }
 
 /* Natural flow and rhythm in articles by default */
 article > * + * {
   margin-top: 1em;
 }
 
 /* Inherit fonts for inputs and buttons */
 input,
 button,
 textarea,
 select {
   font: inherit;
 }
 
 [role='button'],
 input[type='submit'],
 input[type='reset'],
 input[type='button'],
 button {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
 }
 
 /* Reset `button` and button-style `input` default styles */
 input[type='submit'],
 input[type='reset'],
 input[type='button'],
 button {
   background: none;
   border: 0;
   color: inherit;
   /* cursor: default; */
   font: inherit;
   line-height: normal;
   overflow: visible;
   padding: 0;
   -webkit-appearance: button; /* for input */
   -webkit-user-select: none; /* for button */
   -moz-user-select: none;
   -ms-user-select: none;
 }
 input::-moz-focus-inner,
 button::-moz-focus-inner {
   border: 0;
   padding: 0;
 }
 
 /* Make `a` like a button */
 [role='button'] {
   color: inherit;
   cursor: default;
   display: inline-block;
   text-align: center;
   text-decoration: none;
   white-space: pre;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
 }
 
 /* Remove all animations and transitions for people that prefer not to see them */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }
 
 /* ----------------------- GLOBAL ------------------ */

html {
  font-size: 62.5%; /* Tipografía base: 10px */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem; /* Tamaño de fuente: 16px */
  line-height: 1.37; /* 22/16= */
  overflow-x: hidden;
 }


 h1 {
  font-size: 13.4rem; /* Tamaño de fuente: 134px */
  line-height: 0.86;
  font-weight: 900;
  color: #FFFDFD;
  display: flex;
  justify-content: center; 
  } 

  .primary-font {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #96ffca;
  } 

h2 {
  font-size: 4.9rem;
  font-weight: 400;
  color:#1C1B20;
  margin-left:11.5rem;
}

.intro-font {
  font-size: 2.3rem;
  line-height: 1.3;
  border: 2px solid #96ffca;
  color: #fdfdfd;
  font-weight: 500; 
  padding: 0.5rem 0 0 0.9rem;
}

.intro-secondary {
  font-size: 1.8rem;
  line-height: 1,66;
  color:#1C1B20;
  font-weight: 400;
  padding: 0.5rem 0 0 0;
}


h3,
.secondary-font {
    font-family: 'Dawning of a New Day', cursive;
}

h3 {
  font-size: 3.1rem; 
  font-weight: 400;
  color:#1C1B20;
  margin-left:1rem;
  margin-top: -1rem;
} 




/* ----------------------- HEADER ------------------ */

.header,
.nav {
  align-items:center;
  display: flex;
}

.header {
justify-content:space-between;
padding: 2rem 0 0 0;
}

.nav-item {
  padding: 0 1.15rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 4rem;
 }
.nav-link-blanco {
color: #fdfdfd;
}

 .nav-link:hover {
  color:#f5f5f4;
}

 .nav-item:last-child {
   margin-right: 1.5rem;
 }


.logo {
  padding: 0 0 0 2.8rem;
}

/*------------------------PORTADA-----------------------*/

.nombre {
  font-size: 4.6rem; 
  line-height: 0.4;
  font-weight: 500;
  color:  #FF5851;
  display: flex;
  justify-content: center;
  left: 0%;
  padding: 4.3rem 0 0 0;
  position:absolute;
  top: 0.7rem;
  white-space: nowrap;
  width: 100%;
}

.cuadrado {
display: block;
position: relative;
z-index: 0;
border: 2px solid #FF5851;
box-sizing: border-box;
font-size: 2.5rem;
line-height: 2.7rem;
color: #1C1B20;
padding: 8.1rem 1rem 4rem;
margin: 8.9rem 1.1rem 8rem;
}

.descripcion {
  margin: 0 0 4rem;
}

.remarcar {
  color: #FF5851;
}


/* ----------------------- ABOUT ------------------ */

.about-perfil {
  padding: 0 2.5rem;
}

.imagen-perfil {
  background-color: red;
  height: 21.7rem;
  background: url(../imgs/Imagen-portfolio.jpg) 50% no-repeat;
  background-size: cover;
  max-width: 37.6rem;
  margin: 3.1rem auto;
}

.flecha-svg {
  margin: -1rem 0 2.4rem;
}

.cita {
  text-align: center;
  font-style: italic;
  padding: 3rem 0 3.1rem 0;
}

.cita::before,
.cita::after {
  color:#F3C830;
  font-size: 2.5rem;
  line-height: 2.2rem;
}

.cita::before{
  content:'“ ';
}
.cita::after {
  content:' ”';
}

.metodologia {
  text-align: center;
  padding: 0 1.5rem 0 1.6rem;
}

.metodologia1 {
  padding: 2rem 0 4.8rem 0;
}

.imagen-metodologia {
  background-color: red;
  height: 23.2rem;
  background: url(../imgs/Metodologia-personas.png) 50% no-repeat;
  background-size: cover;
  width: 24.9rem;
}

.imagen-metodologia1 {
  padding: 0 9rem 5.9rem 3.6rem;
}

.meconsidero {
  padding: 2rem 0 4.3rem 0;
}

.separacion {
  margin-bottom: 10.3rem;
}

.parriba-svg {
  margin: 2rem 0 4.3rem 82%;
}

/* ----------------------- PROYECTOS ------------------ */

.fondo-header-proyectos {
  background: #1c1b20;
}

.fondocompleto-about {
  background:#fafafa;
}

.fondo-proyectos {
  background: #1c1b20;
  display: block;
  position: relative;
  z-index: 0;
}

.imagenenes-proyectos {
  margin-bottom: 3.7rem;
}


/* ----------------------- SPACE TRAVEL ------------------ */

.fondo-header-st {
  background-color:#1c1b20;

}

.fondocompleto-proyecto {
  background:#fff ;
}

.fondo-st {
  background-color: red;
  background: url(../imgs/imagen-spacetravel.png) 50% no-repeat;
  background-size: cover;
}

.billboard-proyecto {
    height: 50vh;
    padding: 4.8rem 0 0;
    position: relative;
}

.intro-proyecto {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3.5rem;
  margin-top: 5rem;

}

.wrapper {
  padding: 0 4rem;
}

.row {
  align-items: flex-start;
  display: flex;
  width: 105%;
}

.reverse {
  flex-direction: row-reverse;
}

.column {
  width: 101%;
}

.column1 {
  width: 50%;
}

.titulo-descripcion {
font-size: 3.1rem;
line-height: 3.6rem;
margin-top: 7.5rem;
margin-bottom: 1.6rem;
}

.separacion-descripcion {
  margin-bottom: 2rem;
}

.fondo-mockupst1 {
  background: #1c1b20;
  height: 18.2rem;
  margin-top: 16.2rem;
  position: relative;
  margin-bottom: 37rem;
 
} 


.mockup-introst {
  height: 21.7rem;
  max-width: 34.6rem;
  margin-top: -5rem;
  margin-left: 1.7rem;
  position: absolute;
}

.fondo-mockupst2 {
  background: #1c1b20;
  height: 45.6rem;
  margin-top: 16.2rem;
  position: relative;
 
} 

.mockup-introst2 {
  height: 33.6rem;
  max-width: 34.6rem;
  margin-top: -28rem;
  margin-left: -1.7rem;
  position: absolute;
}

.mockup-introst3 {
  max-width: 28.5rem;
  margin-top: 15rem;
  margin-left: 4rem;
  position: absolute;
}

.parribast-svg {
  margin: 51rem 0 4.3rem 82%;
}


/* ----------------------- ENNOVA ------------------ */

.fondo-header-en {
  background-color:#e21e1d;

}

.fondo-en {
  background-color: red;
  background: url(../imgs/imagen-ennova.png) 50% no-repeat;
  background-size: cover;
}

.fondo-mockupst1-en {
  background: #e21e1d;
  height: 18.2rem;
  margin-top: 16.2rem;
  position: relative;
  margin-bottom: 9.6rem;
} 

.subtitulo {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
}

hr {
  width: 9.1rem;
  border: 1px solid #1C1B20;
}

.p-uno {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.p-medio{
  margin-top: 2rem;
  margin-bottom: 2rem; 
}

.p-ultimo {
  margin-bottom: 4rem;
}

.imagen-plataforma {
  background-color: red;
  height: 18.1rem;
  background: url(../imgs/plataforma.jpg) 50% no-repeat;
  background-size: cover;
  width: 29.5rem;
  margin-bottom: 9.6rem;
  
}

.cita-en {
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  line-height: 2.6rem;
  padding: 3rem 0 3.1rem 0;
}

.cita-autor {
  text-align: center;
  margin-bottom: 5rem;
}

.imagen-metodologia-en{
  background-color: red;
  height: 17.5rem;
  background: url(../imgs/imagen-metodologia-en.png) 50% no-repeat;
  background-size: cover;
  width: 32.5rem;
  margin-bottom: 9.6rem;
  margin-left: -1.5rem;
}

.imagen-herramientas {
  background-color: red;
  height: 18.1rem;
  background: url(../imgs/herramientas-diseño.jpg) 50% no-repeat;
  background-size: cover;
  width: 29.5rem;
  margin-bottom: 9.6rem;
}

.fondo-mockup-en {
  background: #e21e1d;
  height: 128.7rem;
  margin-top: 16.2rem;
  position: relative;
} 


.mockup-introst-en1 {
  height: 21.7rem;
  max-width: 34.6rem;
  margin-top: 4rem;
  margin-left: 3.7rem;
  position: absolute;
}

.mockup-introst-en2 {
  height: 21.7rem;
  max-width: 34.6rem;
  margin-top: 30rem;
  margin-left: 3.7rem;
  position: absolute;
}

.mockup-introst-en3 {
  height: 21.7rem;
  max-width: 34.6rem;
  margin-top: 56rem;
  margin-left: 3.7rem;
  position: absolute;
}

.mockup-introst-en4 {
  height: 21.7rem;
  max-width: 34.6rem;
  margin-top: 82rem;
  margin-left: 3.7rem;
  position: absolute;
}

.parribaen-svg {
  margin: -20rem 0 4.3rem 82%;
  position: absolute;
}



/* ----------------------- UTILITIES ------------------ */

.fondo {
  background:#fffdfd;
}

.fondocompleto-about {
  background:#fffefc;
}

.fondo-principal{
  background: #FF5851;
}

.fondo-header{
  background: #f3c830; ;
}

.fondo-about {
  background: #f3c830;
  display: block;
  position: relative;
  z-index: 0;
}
.fondo-experiencia {
  background: #fefaee;
  margin: 0.3rem 0 5.6rem;
  padding: 2.6rem 2.5rem 0;
}

.fondo-meconsidero {
  background: #fefaee;
  padding: 2.6rem 2.5rem 0;
}

.fondo-meconsidero1 {
  background: #fefaee;
  padding: 2rem 2.6rem 4.4rem 2.5rem;
}

.flecha_portada{
  margin:-1.5rem 0 4.3rem 85%;
}

.upper {
  text-transform: uppercase;
  font-size: 2rem;
  color:#D96908;
  font-weight: 600;
  margin-left: 2.6rem;
  margin-bottom: 1.6rem;
}

.wrapper-perfil {
  padding: 0 1.5rem;
}

.underline {
  background: #f3c830;
}

.tipo-color {
  color:#D96908;
  font-weight: 600;
}

strong,
b {
  font-weight: 600;
}

/* ----------------------- BILLBOARD ------------------ */

.billboard-home {
  height: 50vh;
  padding: 22rem 0 0;
  overflow: hidden;
}

.billboard,
.section {
  margin: 0 0 5.8rem;
}

.billboard {
  height: 42vh;
  padding: 4.8rem 0 0;
  position: relative;
}

.billboard-title {
  margin-left: -3rem;
  font-size: 35vw;
}

.intro {
  bottom: -29px;
  left: 0;
  position: absolute;
  max-width: 368px;
}


/*--------------------RESPONSIVE------------------------*/


/* 430px / 16 */

@media (min-width: 26.8em) {


  h2 {
    display: flex;
    justify-content: center;
  }

  h3 {
    display: flex;
    justify-content: center;
 }



   /* ----------------------- BILLBOARD ------------------ */

   .billboard-title {
    margin-left: -2.5rem;
    font-size: 35vw;
  }

  .billboard-title-proyectos {
    margin-left: -2.5rem;
    font-size: 20vw;
  }


  /* ----------------------- UTILITIES ------------------ */

  .imagen-perfil{
    max-width: initial;
  }
  .imagen-metodologia1 {
    padding: 0 9rem 0 8rem;
  }


  /* ----------------------- SPACE TRAVEL ------------------ */
  .wrapper {
    padding: 0 6rem;
  }

  .mockup-introst,
  .mockup-introst2,
  .mockup-introst3 {
    margin-left: 10%;
  }

  /* ----------------------- ENNOVA ------------------ */

  .mockup-introst-en1,
  .mockup-introst-en2,
  .mockup-introst-en3,
  .mockup-introst-en4 {
    margin-left: 17%; 
  }

  }


  /* 700px / 16 */

@media (min-width: 43.75em) {


  


  /* ----------------------- BILLBOARD ------------------ */
  .billboard-title {
    display: block;
    margin-left: 4rem;
    font-size: 18rem;
    text-align: left;
  }

  .billboard-title-proyectos {
    display: block;
    margin-left: 4rem;
    font-size: 12rem;
    text-align: left;
  }

  .intro{
    max-width: 718px;
  }
  .wrapper-perfil {
    padding:0 0 0 3rem ;
  }

  /* ----------------------- PROYECTOS ------------------ */

  br { display: none; }

  /* ----------------------- UTILITIES ------------------ */


  .imagen-perfil {
    background-color: red;
    height: 23rem;
    background: url(../imgs/Imagen-portfolio.jpg) 50% no-repeat;
    background-size: cover;
    margin: 0 0 4rem 8rem;
    max-width: 55rem;
  }
  .imagen-metodologia1 {
    padding: 0 9rem 0 22rem;
  }


  /* ----------------------- SPACE TRAVEL ------------------ */
  .wrapper {
    padding: 0 9rem;
  }

  .mockup-introst,
  .mockup-introst2,
  .mockup-introst3 {
    margin-left: 27%;
  }

  /* ----------------------- ENNOVA ------------------ */

  .imagen-plataforma {
    margin-left: 12rem;
    
  }

  .imagen-metodologia-en{
    margin-left: 10.5rem;
  }
  
  .imagen-herramientas {
    margin-left: 12rem;
  }

  .mockup-introst-en1,
  .mockup-introst-en2,
  .mockup-introst-en3,
  .mockup-introst-en4 {
    margin-left: 30%; 
  }

}


/* 960px /16 */

@media (min-width: 60em) {

  h1 {
    font-size: 18rem; 
   }

  

  h2 {
    font-size: 6.4rem;
    margin-left:18rem;
  }
  
  h3 {
    font-size: 6rem; 
    margin-right:9rem;
  } 

  .primary-font {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #96ffca;
    } 

  .intro-font {
  font-size: 3.2rem;
  line-height: 1.3;
  border: 3px solid #96ffca;
  color: #fdfdfd;
  font-weight: 500; 
  padding: 0.5rem 0 0 0.9rem;
}  

.intro-secondary {
  font-size: 2.7rem;
  line-height: 1,66;
  color:#1C1B20;
  font-weight: 400;
  padding: 0.5rem 0 0 0;
}

    /* ----------------------- HEADER ------------------ */

.header {
justify-content:space-between;
padding: 3.5rem 0 0 0;
}

  .nav-item {
    padding: 0 5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 4rem;
   }

   .logo {
    padding: 0 0 0 5rem;
  }

  /* ----------------------- PORTADA ------------------ */

  .billboard-home {
    height: 56vh;
    padding: 22rem 0 0;
  }

  .flecha_portada{
    width: 38px; 
    height: 155px;
    margin:-4.5rem 0 4.3rem 66%;
 }

 .nombre {
  font-size: 11.5rem; 
  line-height: 9.1;
  font-weight: 500;
  color:  #FF5851;
  display: flex;
  justify-content: center;
  left: 0%;
  padding: 6.6rem 0 0 0;
  position:absolute;
  top: -48rem;
  white-space: nowrap;
  width: 100%;
}

 .cuadrado {
  display: block;
  position: relative;
  z-index: 0;
  border: 2px solid #FF5851;
  box-sizing: border-box;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #1C1B20;
  padding: 17.3rem 20rem 6.5rem;
  margin: 17.11rem 32rem 8rem;
  }



 /* ----------------------- ABOUT ------------------ */


  .about-perfil {
    padding: 0 44rem 0 38rem;
  }

  .about-perfil-cuadrado {
    padding: 0 44rem 0 38rem;
  }


  .intro {
    bottom: -39px;
    left: 0;
    position: absolute;
    max-width: 1155px;
  }
  
  .imagen-perfil {
    background-color: red;
    height: 54.5rem;
    background: url(../imgs/Imagen-portfolio.jpg) 50% no-repeat;
    background-size: cover;
    margin: 0 0 4rem 25%;
    max-width: 70rem;
  
  }

  .flecha-svg {
    margin: -1rem 0 8.8rem;
  }

  .upper {
    text-transform: uppercase;
    font-size: 3.2rem;
    color:#D96908;
    font-weight: 600;
    margin-bottom: 1.8rem;
  }

  .cita {
    text-align: center;
  }
  
  .imagen-metodologia {
    background-color: red;
    height: 43.6rem;
    background: url(../imgs/Metodologia-personas.png) 50% no-repeat;
    background-size: cover;
    width: 46.8rem;
   }

   .imagen-metodologia1 {
     padding: 6.4rem 0 20.9rem 30%;
   }

  .fondo-experiencia {
    background: #fefaee;
    margin: 1.8rem 0 20.9rem;
    padding: 2.6rem 2.5rem 0;
    }

  .fondo-meconsidero {
    padding: 2.6rem 2.5rem;
  }

  .separacion {
    margin-bottom: 27.8rem;
  }

  .parriba-svg {
    margin: 8.6rem 0 4.3rem 140%;
    width: 7.2rem;
    height: 7.2rem;
  }

  /* ----------------------- PROYECTOS ------------------ */

  br { display: none; }



/* ----------------------- SPACE TRAVEL ------------------ */


  .billboard-proyecto {
    height: 95vh;
}

.wrapper{
  padding: 0 5rem;
}

.row-destop {
  align-items: flex-start;
  display: flex;
  width: 162%;
}

.reverse {
  flex-direction: row-reverse;
}

.column-destop1 {
  width: 20%;
}

.column-destop2 {
  width: 42%;
}

.intro-proyecto {
  margin-top: 19rem;
}

.titulo-descripcion {
  margin-top: 19rem;
}

.fondo-mockupst1 {
  background: #1c1b20;
  height: 54.9rem;
  margin-top: 30.3rem;
  position: relative;
  margin-bottom: 42rem;
}

.mockup-introst {
  height: 51.3rem;
  max-width: 85.4rem;
  margin-top: -12rem;
  margin-left: 6.7rem;
  position: absolute;
}

.fondo-mockupst2 {
  background: #1c1b20;
  height: 129rem;
  margin-top: 67.8rem;
  position: relative;
}

.mockup-introst2 {
  height: 75.5rem;
  max-width: 92rem;
  margin-top: -64rem;
  margin-left: -1.7rem;
  position: absolute;
}

.mockup-introst3 {
  max-width: 86.8rem;
  margin-top: 23rem;
  margin-left: 5rem;
  position: absolute;
}

.parribast-svg {
  margin: 144rem 0 20rem 87%;
  width: 7.2rem;
  height: 7.2rem;
}

/* ----------------------- ENNOVA ------------------ */

.fondo-mockupst1-en {
  background: #e21e1d;
  height: 54.9rem;
  margin-top: 30.3rem;
  position: relative;
  margin-bottom: 42rem;
} 

.subtitulo {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-align: center;
}

.p-uno {
  margin-top: 5.3rem;
  padding: 0 20rem;
}

.p-medio{
  padding: 0 20rem; 
}

.p-ultimo {
  margin-bottom: 7.5rem;
  padding: 0 20rem; 
}

.imagen-plataforma {
  height: 51.3rem;
  width: 92rem;
  margin-bottom: 9.6rem;  
}

.cita-en {
  padding: 3rem 20rem 3.1rem ;
}

.cita-autor {
  margin-bottom: 6.6rem;
}

.imagen-metodologia-en{
  height: 45.4rem;
  width: 84.3rem;
  margin-bottom: 15.7rem;
  margin-left: 8.5rem;
}

.imagen-herramientas {
  height: 51.4rem;
  width: 92rem;
  margin-bottom: 15.7rem;
}

.fondo-mockup-en {
  height: 200rem;
} 


.mockup-introst-en1 {
  height: 37rem;
  max-width: 60rem;
  margin-top: 8rem;
  margin-left: 35rem;
  
}

.mockup-introst-en2 {
  height: 37rem;
  max-width: 60rem;
  margin-top: 52rem;
  margin-left: 35rem;
  
}

.mockup-introst-en3 {
  height: 37rem;
  max-width: 60rem;
  margin-top: 96rem;
  margin-left: 35rem;
  
}

.mockup-introst-en4 {
  height: 37rem;
  max-width: 60rem;
  margin-top: 140rem;
  margin-left: 35rem;
  
}

.parribaen-svg {
  margin: -20rem 0 4.3rem 82%;
  width: 7.2rem;
  height: 7.2rem;
  position: absolute;
}

    

 /* ----------------------- BILLBOARD ------------------ */

 .billboard {
  height: 60vh;
  padding: 15rem 0 0;
  position: relative;
}

.billboard,
.section {
  margin: 0 0 28.1rem;
}

 .billboard-title {
  display: block;
  margin-left: 24.7rem;
  font-size: 18rem;
  text-align: left;
}

.billboard-title-proyectos {
  display: block;
  margin-left: 24.7rem;
  font-size: 13rem;
  text-align: left;
}

.wrapper-perfil {
  padding:0 0 0 24.7rem ;
}


}

/* 1189px /16 */

@media (min-width: 74.31em) {
  
  .billboard-title {
    display: block;
    margin-left: 24.7rem;
    font-size: 18rem;
    text-align: left;
  } 

  .imagenenes-proyectos {
    margin-left: 12.2rem;
    margin-right: 12.2rem;
    margin-bottom: 7.7rem;
  }

   /* ----------------------- SPACE TRAVEL ------------------ */

   .wrapper{
    padding: 0 10rem;
  }

  .column-destop1 {
    width: 30%;
  }

  .column-destop2 {
    width: 30%;
  }

   .mockup-introst {
    margin-left: 30rem;
  }

  .mockup-introst2 {
    margin-left: 20rem;
  }
  
  .mockup-introst3 {
    margin-left: 30rem;
  }


  
}